In [3]:
import os
import pandas as pd
import math

In [4]:
a = pd.read_csv('regressor_data.csv')

In [5]:
a

      OverallQual  SalePrice
0               7     208500
1               6     181500
2               7     223500
3               7     140000
4               8     250000
...           ...        ...
1455            6     175000
1456            6     210000
1457            7     266500
1458            5     142125
1459            5     147500

[1460 rows x 2 columns]

In [6]:
def average(y):
    avg = 0
    for i in y:
        avg += i
    avg /= len(y)
    return avg


def mae(y_true, y_pred):
    error = 0
    for i in range(len(y_true)):
        error += abs((y_true[i] - y_pred[i]))
    error /= len(y_true)
    return error

In [7]:
average([1, 3, 5])

3.0

In [8]:
mae([1, 3, 5], [3, 3, 3])

TypeError: 'list' object cannot be interpreted as an integer